.home {
  font-family:serif;
  font-style: oblique;
  color:blue;
  font-size: 35px;
  background-image: url(../image/candle-light.jpg);
  background-size: cover;
  padding: 200px 300px 300px 200px;
  border-radius: 50px;
}

.aboutme{

}
.projects{

}
.info{

}
